/* body{
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    background-color: aliceblue;
}

.logo-container > .logo {
    width: 95px;
}
.nav-items {
    margin: 0 20px;
}
.nav-items > ul {
    display: flex;
}

.nav-items > ul > li {
    margin: 10px;
    padding: 10px;
    list-style: none;
}

.app-body {
    padding: 10px 30px;
}

.restaraunt-container {
    display: flex;
    flex-wrap: wrap;
}

.filter {
    margin: 20px 0;
    padding: 10px;
}

.restaurant-card {
    width: 200px;
    margin: 12px;
}

.restaurant-card:hover {
    border: 1px solid gray;
    cursor: pointer;
}

.shimmer-container {
    padding: 10px 30px;
}

.shimmer-card-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    margin: 12px;
    width: 200px;
    height: 400px;
    background-color: ghostwhite;
}

.shimmer-button {
    margin: 20px 12px;
    padding: 10px;
    width: 300px;
    height: 20px;
    background-color: ghostwhite;
}

.user-card {
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;